* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Myriad';
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Myriad;
  src: url('assets/Myriad Pro Bold.ttf');
}

body {
  line-height: 1.6;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("assets/wpipl-min.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

video {
  filter: drop-shadow(0 0 0.5rem white);
}

.profile{
  height: fit-content;
  display: flex;
  align-items: center;
}

.centered{
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  text-align: center;
}

.hero {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  text-align: center;
  padding: 3rem;
  color: #fff;
}

.hero img {
  height: 100%;
  width: auto;
  pointer-events: none;
}

.hero button {
  background-color: #AC2B37;
  height: 60px;
  width: 200px;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
}

.hero button:hover {
  background-color: #fff;
  color: #AC2B37;
  filter: drop-shadow(4px 4px 4px #AC2B37);
}

.text {
  padding: 3rem;
}

.text h1 {
  line-height: normal;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.text p {
  font-size: 1.35rem;
}

.container {
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  background-color: transparent;
  max-height: 100%;
  transition: max-height 0.4s ease-out;
}

.hidden {
  display: none;
}

.column {
  flex: 1;
  margin: 0 1rem;
}

.item {
  height: 200px;
  margin: 0 0 3rem;
  box-sizing: border-box;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item *{
  transition: all 0.4s ease-out;
}

#about:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/shinzo_squat-min.jpg");
}

#about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/shinzo_squat-min.jpg");
}

#join:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/celeste_squat-min.jpg");
}

#join {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/celeste_squat-min.jpg");
}

#faq:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/ivanski_bench-min.jpg");
}

#faq {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/ivanski_bench-min.jpg");
}

#contact:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/vamos_kenny-min.jpg");
}

#contact {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/vamos_kenny-min.jpg");
}

#feature:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/WPIPL_Team_Pic.JPG");
}

#feature {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/WPIPL_Team_Pic.JPG");
}

#speeep:not(.item-expanded) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("assets/featured/speeep/community_div_background_img.jpg");
}

#speeep {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("assets/featured/speeep/community_div_background_img.jpg");
}

.item:not(.item-expanded) {
  overflow: hidden;
}

.item:not(.item-expanded):hover {
  transform: scale(1.1);
}

.item:not(.item-expanded) h1,
.item:not(.item-expanded) h2,
.item:not(.item-expanded) p,
.item:not(.item-expanded) a {
  color: #AC2B37;
}

.item h1,
.item h2,
.item h3,
.item p,
.item a {
  filter: drop-shadow(0 0 0.6rem black);
}

#contact a {
  text-decoration: none;
  color: #fff;
}

#contact a:hover {
  text-decoration: underline;
}
#contact a:hover:before {
  display: inline-block;
}
#contact a::before {
  content: '>';
  display: none;
}

.item .link {
  color: white;
  text-decoration: none;
}

.item .link:hover{
  text-decoration: underline;
}

.item .link:hover:before {
  display: inline-block;
}
.item .link::before {
  content: '>';
  display: none;
}

svg.off-site:hover > path{
  fill: #AC2B37;
}

.item-expanded {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 1400px;
  margin: 0;
  padding: 2rem;
  z-index: 1000;
  transition: all 0.4s;
  overflow-y: scroll;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 1300px) {

  .container {
    width: 100vw;
    height: 90vh;
  }

  #community .item:not(.item-expanded) {
    height: 220px;
  }

  .item-expanded {
    height: 90vh;
    width: 104vw;
  }

  .item:not(.item-expanded):hover {
    transform: none;
  }

  .hero button, .container, .item, .item *, .item-expanded {
    transition: none;
  }
}